*.DS_Store
/.CFUserTextEncoding
/.Trash
/.bash_history
/.cache
/.cpan
/.cups
/.dropbox
/.gem
/.git/bundle/*
/.gitk
/.heroku
/.irb-history
/.irb_history
/.lesshst
/.npm
/.passenger
/.pow
/.psql_history
/.python-eggs
/.rbenv
/.rnd
/.ssh
/.subversion
/.vim-cache
/.vim/.netrwhist
/.viminfo
/.virtualenvs
/Code
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Lift
/Movies
/Music
/Pictures
/Public
/Sites
